@import "constructeur";
@media screen and (min-width: 1000px) {
  html, body{
    @include font-family;
    margin: 0;
  }

  li{
    @include li-structure;
  }

  li:hover{
    @include hover;
  }

  header{
    @include header
  }

  .header-container{
    @include header_type("container");
  }

  a{
    @include a;
  }

  a:hover{
    @include hover
  }

  .content{
    @include content
  }

  .content-text{
    @include content_type("text")
  }

  footer{
    @include footer
  }

}

