@mixin alert-structure{
    width: $alert-width;
    height: $alert-height;
    display: $alert-display;
}

@mixin alert-specifications($color, $background-color){
    font-size: $alert-font-size;
    padding: $alert-padding;
    margin-bottom: $alert-margin-bottom;
    color : $color;
    background-color: $background-color;

}

@mixin alert($color, $background-color){
    @include alert-structure;
    @include alert-specifications($color, $background-color);
}