@import "text";

$font-family-default: Chalkboard, serif !default;
$font-size-default: 18px !default;
$border-default: 2px solid black !default;
$first-color-default: white !default;
$second-color-default: lightskyblue !default;
$third-color-default: black !default;

@mixin font-family ($font:$font-family-default){
  font-family: $font;
}

@mixin hover($back: $second-color-default, $color: $first-color-default){
  @include background-color($back);
  @include text-color($color);
}

@mixin header{
  justify-content: space-between;
  align-items: center;
  height:  fit-content;
  @include text-color($third-color-default);
}

@mixin a{
  color: inherit;
  text-decoration: none;
}


@mixin content-type($type){
  @if($type == "text"){
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
  }

  @if($type == "column"){
    opacity:10;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin: 5% 0 10% 0;
    box-sizing: border-box;
  }

  @if($type == "product"){
    width: 90%;
    border: 1px solid #DEDEDE;
    border-radius: 10px 10px 0 0;
  }

  @if($type == "panier"){
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-column-gap: 20px;
    margin: 2%;
  }

  @if($type == "connexion"){
    width: 300px;
    height: 300px;
    background: rgba(4, 4, 4, 0.56);
    padding: 60px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px mistyrose;
  }
}

@mixin footer{
  @include background-color($third-color-default);
  @include text-color($first-color-default);
  height: 50px;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
}

@mixin sousTitre{
  @include text-color($first-color-default);
  text-shadow:0 0 10px;
  letter-spacing: 1px;
  text-align: center;
}

@mixin input{
  padding: 10px;
  font-size: 13px;
  @include text-color($third-color-default);
  border-top: 1px solid #312E3D;
  border-left: 1px solid #312E3D;
  border-right: 1px solid #312E3D;
  border-bottom: 1px solid #56536A;
  border-radius: 5px;
  box-sizing: border-box;
}

@mixin input-type($type){
  @if($type == "login"){
    width: 100%;
    margin-bottom: 10px;
  }

  @if($type == "password"){
    width: 100%;
    margin-bottom: 10px;
  }
}

@mixin button{
  height: 40px;
  @include text-color($first-color-default);
  font-size: 15px;
  display: block;
  background-color: #21a4ee;
  line-height: normal;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

@mixin btn-type($type){
  @if($type == "connexion"){
    width: 100%;
    margin-bottom: 1%;
    border: 1px solid #3762bc;
  }

  @if($type == "valider"){
    width: 100%;
    border: 1px solid #3762bc;
  }

  @if($type == "add"){
    width: 100%;
    border-right: 1px solid #3762bc;
    border-radius: 0;
    margin-top: 30px;
    font-size: 14px;
  }
}

@mixin header-type($type){
  @if($type == "recherche"){
    font-size: 1rem;
    background-color: #F1F1F1;
    border-radius: 15px;
    border: 1px solid #DEDEDE;
    margin: 10px 20px;
  }

  @if($type == "panier"){
    font-size: 2rem;
    padding: 20px;
  }
}

@mixin ul{
  padding-left: unset;
}

@mixin content-photo($type){
  @if($type == "grand"){
    border: 2px solid black;
    width: 500px;
    height: fit-content;
  }
  @if($type == "petit"){
    border: 2px solid black;
    width: 200px;
    height: fit-content;
  }
}

@mixin content-product($type){
  @if($type == "similar"){
    border: 2px solid black;
    width: 100%;
    height: fit-content;
  }
  @if($type == "infos"){
    width: 400px;
  }

  @if($type == "photo"){
    background-color: #F1F1F1;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    position: relative;
    border-radius: 10px 10px 0 0;
  }
}

@mixin scroll{
  height: 550px;
  overflow-y: scroll;
  padding: 0 30px;
}

@mixin large{
  height: 100%;
}


@mixin content-column-h1($size){
  width: 100%;
  height: fit-content;
  @include background-color( rgba(4, 4, 4, 0.2));
  text-align: center;
  align-content: center;
  font-size: $size;
  padding: 20px;
}


@mixin content-details-button{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


@mixin poids{
  margin-left: 70px;
  width: 50px;
}

@mixin poids-detail{
  margin-left: 20px;
  width: 50px;
}


@mixin backcolor-product-infos{
  @include background-color(rgba(4, 4, 4, 0.2));
}


@mixin padding-product-infos{
  padding: 20px;
}


@mixin border-unset{
  border: unset;
}

@mixin header-container($flex-direction, $height){
  display: flex;
  flex-direction: $flex-direction;
  align-items: center;
  list-style-type: none;
  height: $height;
}

@mixin li-structure($top, $right, $bottom, $left, $width){
  font-size: 18px;
  text-align:center;
  border: 2px solid black;
  box-sizing: border-box;
  width: $width;
  padding: $top $right $bottom $left;
}

@mixin couverture{
  width: 100%;
  height: fit-content;
}

@mixin padding{
  padding-left: unset;
}

@mixin connexion{
  opacity:10;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

@mixin content-list($nb){
  display: grid;
  grid-template-columns: repeat($nb, minmax(150px, 400px));
  grid-row-gap: 20%;
  height: 400px;
  overflow-y: scroll;
  align-items: center;
  margin: 30px 0 0 30px;
}

@mixin content-details($height, $type){
  width: 100%;
  height: $height;
  display: grid;
  box-sizing: border-box;
  padding: 0 50px;
  @if($type == "columns"){
    grid-template-columns: 1fr 1fr;
  }
  @if($type == "rows"){
    grid-template-rows: 1fr 1fr;
    justify-content: center;
  }
}

@mixin content{
  opacity:10;
  @include text-color($third-color-default);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  margin-top: 5%;
}

@mixin content-tableau{
  border: 1px solid black;
  width: fit-content;
  margin: 2%;
}

@mixin th{
  @include background-color(rgba(0, 0, 0, 0.2));
}

@mixin tr{
  @include background-color(#F1F1F1);
}

@mixin recherche {
  font-size: 1rem;
  background-color: #F1F1F1;
  border-radius: 15px;
  border: 1px solid #DEDEDE;
  margin: 10px 20px;
}

@mixin product-name-detail {
  font-weight: bold;
  text-align: center;
  background-color: steelblue;
  padding: 10px;
}

@mixin product-name {
  font-weight: bold;
  text-align: center;
  background-color: steelblue;
  padding: 10px;
  margin: -30px 0 0 0;
}

@mixin quantity {
  margin: 0 0 0 15px;
  font-size: 18px;
}

@mixin product-similar {
  margin: 20px 0 0 20px;
  font-weight: bold;
}

@mixin product-img{
  margin: 0 0 0 20px;
}

@mixin picture{
  display: flex;
  justify-content: center;
}

