@import "constructeur";

@media screen and (min-width: 1000px) {
  .content-photo-grand{
    @include content-photo("grand")
  }

  .content-photo-petit{
    @include content-photo("petit")
  }

  .content-product-similar{
    @include content-product("similar")
  }

  .content-details{
    @include content_type("details")
  }

  .content-product-infos{
    @include content-product("infos")
  }
}

.product-similar {
  margin: 0 0 0 20px;
  font-weight: bold;
}

.product-img{
  margin: 20px 0 0 20px;
}

.container-product-similar{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
