@mixin flex-ul($theme-color){
    margin: $flex-ul-margin;
    padding: $flex-ul-padding;
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: $theme-color;
}
@mixin flex-li($color){
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    & a{
        text-decoration: none;
        color: $color;
    }
}