@media screen and (max-width: 570px) {

}

@media screen and (min-width: 570px) {

}

@media screen and (min-width: 740px) {

}

@media screen and (min-width: 930px) {

}

@media screen and (min-width: 1000px) {
    html, body{
        margin: 0;
        font-family: Chalkboard, serif;
    }

    li{
        font-size: 18px;
        text-align:center;
        width: fit-content;
        padding: 20px 30px 20px 30px;
        border: 2px solid black;
    }

    li:hover{
        background-color: lightskyblue;
        color: white;
    }

    header{
        justify-content: space-between;
        align-items: center;
        height: 60px;
        color: black;
    }

    .header-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style-type: none;
        height: inherit;
    }

    a{
        color: inherit;
        text-decoration: none;
    }

    a:hover{
        background-color: lightskyblue;
        color: white;
    }

    .content{
        opacity:10;
        color: black;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        margin-top: 7%;
    }

    .content-text{
        border: 2px solid black;
        padding: 10px 20px;
    }

    footer{
        background-color: black;
        height: 50px;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 0;
        color: white;
    }


    /*-----spécial connexion-----*/
    #content-connexion{
        width: 300px;
        height: 300px;
        background: rgba(4, 4, 4, 0.56);
        padding: 60px 40px;
        border-radius: 10px;
        box-shadow: 0 0 10px mistyrose;
    }

    #content-connexion h1{
        color: #fff;
        text-shadow:0 0 10px;
        letter-spacing: 1px;
        text-align: center;
    }

    input{
        padding: 10px;
        font-size: 13px;
        color: black;
        border-top: 1px solid #312E3D;
        border-left: 1px solid #312E3D;
        border-right: 1px solid #312E3D;
        border-bottom: 1px solid #56536A;
        border-radius: 5px;
        box-sizing: border-box;
    }

    #input-login, #input-password{
        width: 100%;
        margin-bottom: 10px;
    }

    button {
        height: 40px;
        color: white;
        font-size: 18px;
        display: block;
        background-color: #21a4ee;
        border: 1px solid #3762bc;
        line-height: normal;
        border-radius: 5px;
    }

    button:hover {
        background-color: dodgerblue;
        color: white;
    }

    .btn-connexion{
        width: 100%;
        margin-bottom: 1%;
    }

    #header-recherche{
        font-size: 1rem;
        background-color: #F1F1F1;
        border-radius: 15px;
        border: 1px solid #DEDEDE;
        margin: 10px 20px;
    }

    .header-panier {
        font-size: 2rem;
        padding: 20px;
    }
}