
html, body{
    margin: 0;
    font-family: Chalkboard, serif;
}

body{
    width: 100%;
    margin: 0;
}



header > div{
    width: 100%;
    height: 4em;
}


li{
    font-size: 18px;
    text-align:center;
    width: fit-content;
    padding: 20px 30px 20px 30px;
    border: 1px solid black;
}

li:hover{
    background-color: lightskyblue;
    color: white;
}

nav{
    height: inherit;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:60px;
    color: black;
}

.header-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: center;
    list-style-type: none;
    height: inherit;
    margin-left: 45%;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    background-color: lightskyblue;
    color: white;
}

a:active{
    color: purple;
}

.content{
    width: 100%;
    opacity:10;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: 20px;
    margin-top: 7%;
}

.content-text{
    border: 2px solid black;
    padding: 10px 20px;
}

footer{
    background-color: black;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    color: white;
}

@media screen and (max-width: 570px) {

}

@media screen and (min-width: 570px) {

}

@media screen and (min-width: 740px) {

}

@media screen and (min-width: 930px) {

}

@media screen and (min-width: 1000px) {

}