{% extends 'base.html.twig' %}

{% block title %}Projet Atelier{% endblock %}

{% block main %}
<div class="jumbotron">
    <div class="container">



       
    </div><!-- Container -->
</div><!-- Jumbotron -->
{% endblock %}

{% block javascripts %}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/javascript/home/map.js"></script>
<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEL-cn5562d5KhQsEWHmSECVi1TNEkYCk&callback=initMap&v=weekly"
      async
    ></script>



    


{% endblock %}
