{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
    <div class="content">
        {% for commande in commandes %}
            <p>{{commande.idcommande}}</p>
        {% endfor %}
    </div>
{% endblock %}


