{% extends 'base.html.twig' %}

{% block title %}
    {% if producteur %}
        {{ producteur.nomUtilisateur }}
    {% endif %}
{% endblock %}

{% block header %}
    {% include 'navbar.html.twig' %}
{% endblock %}

{% block main %}
    {% for producteur in producteur %}
        <p>{{ producteur.nomUtilisateur }}</p>
        <p>{{ producteur.mail }}</p>
        <p>{{ producteur.numTel }}</p>
    {% endfor %}
{% endblock %}


