{% extends 'base.html.twig' %}

{% block title %}Liste des producteurs{% endblock %}

{% block main %}
    {% for producteurs in producteurs %}
       <p><a href={{ url_for('detailproducteur', {'producteur' : producteurs.idUtilisateur }) }}>{{ producteurs.nomUtilisateur }}</a></p>
    {% endfor %}
{% endblock %}


