{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block main %}
    {% for producteurs in producteurs %}
        <p><a href={{ url_for('detailproducteurs', {'producteur' : producteurs.nomUtilisateur }) }}>{{ producteurs.nomUtilisateur }}</a></p>                                                                                                        }}</a></p>
    {% endfor %}
{% endblock %}


