html, body {
  margin: 0;
  font-family: Chalkboard, serif;
}

li:hover {
  background-color: lightskyblue !important;
  color: white !important;
}

header {
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  color: black !important;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  background-color: lightskyblue !important;
  color: white !important;
}

.content-text {
  border: 2px solid black;
  padding: 10px 20px;
}

footer {
  background-color: black !important;
  color: white !important;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}

#content-connexion {
  width: 300px;
  height: 300px;
  background: rgba(4, 4, 4, 0.56);
  padding: 60px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px mistyrose;
}

#content-connexion h1 {
  color: white !important;
  text-shadow: 0 0 10px;
  letter-spacing: 1px;
  text-align: center;
}

input {
  padding: 10px;
  font-size: 13px;
  color: black !important;
  border-top: 1px solid #312E3D;
  border-left: 1px solid #312E3D;
  border-right: 1px solid #312E3D;
  border-bottom: 1px solid #56536A;
  border-radius: 5px;
  box-sizing: border-box;
}

#input-login, #input-password {
  width: 100%;
  margin-bottom: 10px;
  width: 100%;
  margin-bottom: 10px;
}

button {
  height: 40px;
  color: white !important;
  font-size: 18px;
  display: block;
  background-color: #21a4ee;
  border: 1px solid #3762bc;
  line-height: normal;
  border-radius: 5px;
}

button:hover {
  background-color: dodgerblue !important;
  color: white !important;
}

.btn-connexion {
  width: 100%;
  margin-bottom: 1%;
}

#header-recherche {
  font-size: 1rem;
  background-color: #F1F1F1;
  border-radius: 15px;
  border: 1px solid #DEDEDE;
  margin: 10px 20px;
}

.header-panier {
  font-size: 2rem;
  padding: 20px;
  padding: 0;
}

ul {
  padding-left: unset;
}

.content-photo-grand {
  border: 2px solid black;
  width: 500px;
  height: fit-content;
}

.content-photo-petit {
  border: 2px solid black;
  width: 200px;
  height: fit-content;
}

.content-product-similaires {
  border: 2px solid black;
  width: 100%;
  height: fit-content;
}

.content-product-infos {
  width: 400px;
}

.scroll {
  height: 550px;
  overflow-y: scroll;
  padding: 0 30px;
}

.large {
  height: 100%;
}

.content-colume > h1 {
  width: 90%;
  height: fit-content;
  background-color: rgba(4, 4, 4, 0.2) !important;
  text-align: center;
  align-content: center;
  font-size: 30px;
  padding: 20px;
}

.content-colume {
  opacity: 10;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  margin-top: 5%;
}

.content-product {
  width: 250px;
  border: 1px solid #DEDEDE;
  margin: 20px 10px;
}

.content-product > .content-product-photo {
  background-color: #F1F1F1;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  position: relative;
  padding: 50px;
}

.content-details-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.poids {
  width: 100%;
}

.backcolor-product-infos {
  background-color: rgba(4, 4, 4, 0.2) !important;
}

.padding-product-infos {
  padding: 20px;
}

.btn-valider {
  width: 100%;
}

.content-panier {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-column-gap: 20px;
  margin: 2%;
}

.border-unset {
  border: unset;
}

.content-tableau {
  border: 1px solid black;
  width: fit-content;
  margin: 2%;
}

.content-tableau th {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.content-tableau tr:nth-child(even) {
  background-color: #F1F1F1 !important;
}

.recherche {
  font-size: 1rem;
  background-color: #F1F1F1;
  border-radius: 15px;
  border: 1px solid #DEDEDE;
  margin: 10px 20px;
}

.content-liste-commande {
  display: grid;
  grid-template-columns: repeat(1, minmax(300px, 400px));
  grid-column-gap: 2%;
  height: 350px;
  overflow-y: scroll;
  padding: 20px;
}

.content-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2%;
}

@media screen and (max-width: 400px) {
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    height: fit-content;
  }

  li {
    font-size: 18px;
    text-align: center;
    border: 2px solid black;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 30px 20px 30px;
  }

  #couverture {
    width: 100%;
    height: fit-content;
  }

  .padding {
    padding-left: unset;
  }

  .connexion {
    opacity: 10;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }

  .content-liste {
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 400px));
    grid-row-gap: 2%;
    height: 350px;
    overflow-y: scroll;
    padding: 20px;
  }

  .content-details {
    width: 100%;
    height: fit-content;
    display: grid;
    box-sizing: border-box;
    padding: 0 50px;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
  }
}
@media screen and (min-width: 400px) {
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    height: inherit;
  }

  li {
    font-size: 18px;
    text-align: center;
    border: 2px solid black;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 5px 5px 5px;
  }

  .connexion {
    opacity: 10;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }

  .content-liste {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 400px));
    grid-row-gap: 2%;
    height: 350px;
    overflow-y: scroll;
    padding: 20px;
  }

  .content-details {
    width: 100%;
    height: fit-content;
    display: grid;
    box-sizing: border-box;
    padding: 0 50px;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
  }
}
@media screen and (min-width: 1000px) {
  li {
    font-size: 18px;
    text-align: center;
    border: 2px solid black;
    box-sizing: border-box;
    width: fit-content;
    padding: 20px 30px 20px 30px;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    height: inherit;
  }

  .content {
    opacity: 10;
    color: black !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-top: 5%;
  }

  .content-liste {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 400px));
    grid-row-gap: 2%;
    height: 350px;
    overflow-y: scroll;
    padding: 20px;
  }

  .content-details {
    width: 100%;
    height: 400px;
    display: grid;
    box-sizing: border-box;
    padding: 0 50px;
    grid-template-columns: 1fr 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
