<ul class="header-container">
    <img id="header-logo" src={{ base_path() }}"/images/logo_2.png" alt="logo">
    <li><a href="/">Accueil</a></li>
    <li><a href={{ url_for('nosproduits') }}>Nos produits</a></li>
    <li><a href={{ url_for('nosproducteurs') }}>Nos producteurs</a></li>
    <li><a href="connexion">Connexion</a></li>
    <input type="text" id="header-recherche" placeholder="Recherche..." />
    <a class="header-panier"><span class="mdi mdi-cart"></span></a>
</ul>