<nav>
    <ul class="header-container padding">
        <li><a href="">Accueil</a></li>
        <li><a href={{ url_for('nosproduits') }}>Nos produits</a></li>
        <li><a href={{ url_for('nosproducteurs') }}>Nos producteurs</a></li>
        <li><a href="">Connexion</a></li>
    </ul>
</nav>