<nav>
    <ul class="flex-ul-white">
        <li class="flex-li-dark">
            <a class="" href="/">Accueil</a>
        </li>
        <li class="flex-li-dark">
            <a class="" href={{ url_for('nosproduits') }}>Nos produits</a>
        </li>
        <li class="flex-li-dark">
            <a class="" href={{ url_for('nosproducteurs') }}>Nos producteurs</a>
        </li>
        <li class="flex-li-dark">
            <a class="" href=#>Connexion</a>
        </li>
    </ul>
</nav>