<nav>
  <ul class="flex-ul-white">
      <li class="flex-li-dark">
        <a class="" href="/">Accueil</a>
      </li>
      {% if session.user %}
        <li class="flex-li-dark">
          <a class="" href=#>Se connecter</a>
        </li>
      {% else %}
        <li class="flex-li-dark">
          <a class="" href={{ url_for('nosproduits') }}>Nos produits</a>
        </li>
        <li class="flex-li-dark">
          <a class="" href={{ url_for('nosproducteurs') }}>Nos producteurs</a>
        </li>
        <li class="flex-li-dark">
          <a class="" href="/signout">Se deconnecter</a>
        </li>
      {% endif %}      
  </ul>
</nav>