{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block main %}
    {% for produits in produits %}
        <p><a href={{ url_for('detailproduit', {'produit' : produits.idProduit }) }}>{{ produits.nomProduit }}</a></p>
    {% endfor %}
{% endblock %}


